/* resets */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
	margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

#root,
#__next {
	isolation: isolate;
}

* {
	box-sizing: border-box;
	font-family: sans-serif;
}
#preferencesWrapper {
	background-color: white !important;
	padding: 1rem;
}

#preferencesForm {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-items: center;
	gap: 2px;
	background-color: white !important;
}

#preferencesForm > input,
#preferencesForm > label {
	color: black !important;
}

#preferencesForm > input {
	width: 15ch;
	border-color: black !important;
	background-color: white !important;
}

#userPreferencesButton,
#applyPreferenceButton {
	background-color: white !important;
	color: black !important;
	margin: 0 auto;
	margin-top: 0.5rem;
}
#preferencesForm > label {
	text-align: end;
}

#appControlsWrapper {
	border: 1px solid black;
	padding: 1rem;
	margin-bottom: 1rem;
}

#createSessionForm {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	justify-content: center;
	gap: 2px;
}

#createSessionButtonsWrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap: 2px;
}

.headerWrapper-c {
	display: grid;
	justify-content: center;
}

li {
	margin: 0.5rem;
}

.liWrapper {
	display: flex;
	gap: 5px;
}

label {
	font-size: 1rem;
	text-align: end;
}

#previewContainer {
	white-space: pre-wrap;
	overflow-wrap: break-word;
	padding: 8px;
}

select,
input[type="text"] {
	width: 100%;
}

#availability,
#OBavailability {
	width: 50%;
}

[name="timezone"],
[name="OBtimezone"] {
	width: min-content;
}

#documentationField {
	display: grid;
	justify-content: center;
	margin-top: 1rem;
}

.fieldWrapper,
.availabilityWrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: start;
	align-items: center;
	gap: 5px;
}

fieldset {
	margin: 0.5rem 0.3rem;
	border: 2px solid;
}

legend {
	margin: 0 auto;
	font-weight: 700;
}

input[name="resolutionNotes"] {
	width: 100%;
}

textarea {
	width: 100%;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.logo {
	display: inline-block;
	width: 60px;
}

img {
	overflow: hidden;
	width: 100%;
	border-radius: 50%;
}

button {
	display: block;
	width: fit-content;
	padding: 0rem 0.5rem;
	border-radius: 5px;
	background-color: #bfe0f3;
}

#normalModeWrapper {
	display: flex;
	justify-content: space-evenly;
}

#normalModeWrapper > button {
	padding: 0rem 0.3rem;
	font-size: 0.9rem;
}

button:hover,
select:hover {
	cursor: pointer;
	filter: brightness(1.2);
}

.hidden {
	display: none !important;
}

.controlPanel {
	display: flex;
	justify-content: space-evenly;
}

#saveNoteButton,
#newNoteButton,
#newNoteUserRetainedButton {
	background-color: #98fb98;
}

#cancelButton {
	background-color: #bc544b;
}

#standardTemplateAutofillButtonsWrapper,
#pwrTemplateAutofillButtonsWrapper {
	display: flex;
	justify-content: space-evenly;
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 5px;
}

footer > p {
	text-align: center;
}
