* {
	box-sizing: border-box;
	font-family: sans-serif;
}

#appControlsWrapper {
	border: 1px solid black;
	padding: 1rem;
}

.headerWrapper-c {
	display: flex;
	justify-content: center;
}

input,
textarea {
	font-size: 1rem;
}

label {
	font-size: 1rem;
}

#previewContainer {
	white-space: pre-wrap;
	overflow-wrap: break-word;
	padding: 8px;
}

select {
	padding: 0;
	margin: 0;
}

#documentationField {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.fieldWrapper {
	display: flex;
	gap: 10px;
	margin-top: 1rem;
	align-items: center;
}

fieldset {
	padding: 0rem 1rem 1rem 1rem;
	margin-top: 1.5rem;
	border: 2px solid black;
}

legend {
	margin: 0 auto;
	font-size: 0.7rem;
	font-weight: 700;
}

input[name="resolutionNotes"] {
	width: 100%;
}

textarea {
	width: 100%;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.logo {
	display: inline-block;
	width: 60px;
}

img {
	overflow: hidden;
	width: 100%;
	border-radius: 50%;
}

button {
	display: block;
}

button:hover {
	cursor: pointer;
	filter: brightness(1.2);
}

.availability-container {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.availability-container > button {
	font-size: 0.8rem;
}

.visible {
	display: block;
}

.hidden {
	display: none;
}

.controlPanel {
	display: flex;
	justify-content: space-evenly;
}

.sessionDivider {
	width: 50%;
	height: 300px;
	overflow-y: scroll;
}
